In [24]:
from albums_tables import AlbumsTables
from artists_tables import ArtistsTables

import pandas as pd
import plotly.express as px

In [31]:
gramsa = ArtistsTables()

df = gramsa.related_artists_table(id="00FQb4jTyendYWaN8pK0wa")
df

                      Name
0                   MARINA
1                 Lykke Li
2                    Lorde
3            Azealia Banks
4             Sky Ferreira
5                   Grimes
6               Charli XCX
7                  TV Girl
8                FKA twigs
9                   WILLOW
10                 Tove Lo
11                 Allie X
12       The Neighbourhood
13    Cigarettes After Sex
14         Phoebe Bridgers
15                  Mitski
16           Rina Sawayama
17             Beach House
18  Florence + The Machine
19                Labrinth